<div class="container">
  <div class="left">
    <div class="logo-container"></div>
  </div>
  <!--<div class="right">-->
    <div class="right-left">
      <a  routerLink="/women"><div class="panelt"><div class="caption"></div></div></a>
      <a  routerLink="/men"><div class="panelm"></div></a>
      <a  routerLink="/men"><div class="panelb"></div></a>
    </div>
    <div class="right-right">
      <div class="left-panel-top">
        <a  routerLink="/men"><div class="left-panel-top-left"></div></a>
        <a  routerLink="/men"><div class="left-panel-top-right"></div></a>
      </div>
      <a routerLink="/kids"><div class="left-panel-middle-top"></div></a>
      <div class="left-panel-top">
        <a  routerLink="/men"><div class="left-panel-top-left second"></div></a>
        <a  routerLink="/men"><div class="left-panel-top-right first"></div></a>
      </div>
      <div class="left-panel-bottom"></div>
    </div>
  </div>

