
.Header {
  z-index: 32;
  padding-top: 12px;
  padding-bottom: 12px;
  color:white;
  background-color: #16b0df;
  font-size: 14px!important;
  position:fixed;
  z-index: 1000;
  width: 100%;
  opacity:1.0;
  top:0;
  border-bottom: 1px solid white;
}
.container-fluid{
  width: 100% !important;
}
.Header2 {
  z-index: 32;
  padding-top: 12px;
  padding-bottom: 12px;
  color:white;
  background-color: #16b0df;
  font-size: 14px!important;
  position:fixed;
  z-index: 1000;
  width: 100%;
  opacity:0.9;
  top:0;
  border-bottom: 1px solid white;
}
.d-flex {
  display: flex!important;
  min-width: 20px;
}
.px-3 {
  padding-right: 16px!important;
  padding-left: 16px!important;
}
.position-relative {
  position: relative!important;
}

* {
  box-sizing: border-box;
}
div {
  display: block;
}
.header-Wrapper{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  background: #24292e;
  position:fixed;
  z-index: 1000;
}
.flex-auto {
  flex: 1 1 auto!important;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list-style-none {
  list-style: none!important;
}
.text-bold {
  font-weight: 600!important;
}
.pl-2 {
  padding-left: 8px!important;
}
.flex-items-center {
  align-items: center!important;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
  padding-top:20px;
  padding-left: 10px;
  height: 30px;
  padding:10px;

}

input[type=text] {
  color: white;
  border: 0;
  background-color: #16b0df;
  width:90%;
}
.body-container{
  margin:20px;
  width: 100%;
  height: 100%;
  padding:20px;

}
.search{
  border-bottom: 2px solid white;
  height: 40px;
  width: 209px;
  padding:10px;
  padding-right: 0px;
  padding-bottom: 45px;
  margin-top:10px;
  display:flex;
  white-space: nowrap;
}
.search i{
  float: right;
  margin-top:15px;
}
input[type=text]:focus{
  outline: 0px;
}
input[type=text]::placeholder{
  color:white;
  font-style: italic;
}
.btn-primary{
  background-color:#16b0df!important ;
  border: 1px solid white!important ;;
}
.header-Panel{
margin-top:65px;
height: 150px;
-webkit-box-shadow: 5px 5px 15px -5px gray; 
box-shadow: 5px 5px 15px -5px gray;
background-color:#16b0df;
background-image: url("https://tpc.googlesyndication.com/simgad/5185889176373639093");
opacity:0.8;
text-align: center;
font-weight: 800px;
padding-top:20px;
text-transform: uppercase;
animation-duration: 40s;
animation-iteration-count: infinite;
animation-delay: 10s;
color:white;
position: fixed;
width: 100%;
display:block;

}
.fixed{
position:fixed;
height: 150px;
width: 100%;
-webkit-box-shadow: inset  5px 5px 15px -5px gray; 
box-shadow:inset  5px 5px 15px -5px gray;
background-color: #16b0df;
z-index:999;
background-image: url("https://tpc.googlesyndication.com/simgad/5185889176373639093");
opacity:0.8;
text-align: center;
font-weight: 800px;
padding-top:60px;
text-transform: uppercase;
animation-name: anim;
animation-duration: 40s;
animation-iteration-count: infinite;
animation-delay: 10s;
color: white;

}


@keyframes anim {
  0%   {background-image:url("https://tpc.googlesyndication.com/simgad/5185889176373639093");opacity: 0.7;}
  25% {background-image:url("https://tpc.googlesyndication.com/simgad/17653849879687364457");opacity: 0.7;}
  50%  {background-image:url("https://tpc.googlesyndication.com/simgad/8548749658867422187");opacity: 0.7;}
  75%  {background-image:url("https://media.takealot.com/cms/515018f1e4bb9ab370000089/Banners/2e4396ba7278f7141578a0423cf302d4.png");opacity: 0.7;}
  100% {background-image:url("https://tpc.googlesyndication.com/simgad/5185889176373639093");opacity: 0.7;}
}

.manubar{
  margin-top:154px;
  color:white;
  background-color: #16b0df;
  font-size: 14px!important;
  position: fixed;
  z-index: 1000;
  width: 100%;
  opacity:1;
  top:0;
  margin-right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display:block;

}
.manu-item{
  padding:20px;
  border-bottom: 1px solid whitesmoke;
  margin:0px;
  width: 100%;
}
.manu-item:hover{
  background-color: hsla(0,0%,100%,0.75);
  cursor: pointer;
}
.cart{
  cursor: pointer;
}
.cart ul:hover{
  background-color: hsla(0,0%,100%,0.75); 
}
.listItem li {
cursor: pointer;
}

.listItem li:hover{
  font-weight: 600px;
  border-bottom:2px solid white;
}
.listItem li:focus{
  outline: 0;
  border-bottom:2px solid white;
}
.footer{
  width:100%;
  min-height: 10%;
  background: #16b0df;
  color:white;
  padding:20px;
  text-align: center;
}
.social-container{
padding:20px;
margin-left:20%;
margin-right:20%;
}
.social-container a{
  color:white;
  font-size:16px;
  width: 15%;
}

.social-icons{
  color:white;
  font-size:30px;
  width: 30%;
  margin-left:40%;
}
.social-icons i{
  padding:10px;
  border:1px solid white;
  margin:3px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
}
.social-icons i:hover{
  background: white;
  color:#16b0df;
  cursor: pointer;
}



